@import '/src/styles/colors';
@import '/src/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: calc(100% - 310px);
  background-color: @white;
  z-index: 1;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: @gallery;
  }
}

.avatar {
  .title_m();

  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 34px;
  background-color: @gallery;
  border-radius: 100%;
  color: @dustyGray;
}

.avatarInput {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  opacity: 0;
}

.user {
  .text_l();

  font-weight: 600;
  margin-left: 10px;
}

.options {
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}

.messages {
  margin: 66px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.message {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 20px;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: calc(100% - 310px);
  background-color: @white;
}

.input {
  .text_m();

  width: 100%;
  background-color: @gallery;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: @dustyGray;
}

.sendButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrow {
  transform: rotate(180deg);
  width: 28px;
  height: 28px;
}
