@import '/src/styles/colors';
@import '/src/styles/typography';

.cross {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
}

.time {
  .text_s_special_height();

  grid-area: time;
  justify-self: end;

  color: @dustyGray;
}

.chat {
  display: grid;
  row-gap: 4px;
  column-gap: 10px;
  grid-template-rows: 13px;
  grid-template-columns: 47px;
  grid-template-areas:
    'avatar name time'
    'avatar preview count'
  ;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    background-color: @lightBlue;

    .cross {
      display: block;
    }

    .time {
      display: none;
    }
  }
}

.avatar {
  .title_l();

  grid-area: avatar;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 47px;
  height: 47px;
  background-color: @gallery;
  border-radius: 100%;
  color: @dustyGray;
}

.name {
  .text_l();

  grid-area: name;
  font-weight: 600;
  color: @godGray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview {
  .text_m_special_height();

  grid-area: preview;
  color: @dustyGray;
  margin: 0;
}

.counter {
  .text_m();

  grid-area: counter;
  grid-column: 3;
  grid-row: 2;
  place-self: end;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: @royalBlue;
  color: @white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
